USE [mrp_2015_2016_diet_esrd_mortality]
GO
/****** Object:  Table [dbo].[food_code_description_data]    Script Date: 2019-07-03 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_code_description_data](
	[11000000] [float] NULL,
	[MILK] [nvarchar](255) NULL,
	[ HUMAN] [nvarchar](255) NULL,
	[Milk1] [nvarchar](255) NULL,
	[ human1] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL,
	[F11] [nvarchar](255) NULL,
	[F12] [nvarchar](255) NULL,
	[F13] [nvarchar](255) NULL,
	[F14] [nvarchar](255) NULL,
	[F15] [nvarchar](255) NULL,
	[F16] [nvarchar](255) NULL
) ON [PRIMARY]
GO
