USE [mrp_2015_2016_diet_esrd_mortality]
GO
/****** Object:  Table [dbo].[2015-2016-dietary-interview-individual-foods-2nd-day-DR2IFF_I]    Script Date: 2019-07-03 11:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2015-2016-dietary-interview-individual-foods-2nd-day-DR2IFF_I](
	[SEQN - Respondent sequence number] [float] NULL,
	[WTDRD1 - Dietary day one sample weight] [float] NULL,
	[WTDR2D - Dietary two-day sample weight] [float] NULL,
	[DR2ILINE - Food/Individual component number] [float] NULL,
	[DR2DRSTZ - Dietary recall status] [float] NULL,
	[DR2EXMER - Interviewer ID code] [float] NULL,
	[DRABF - Breast-fed infant (either day)] [float] NULL,
	[DRDINT - Number of days of intake] [float] NULL,
	[DR2DBIH - # of days b/w intake and HH interview] [float] NULL,
	[DR2DAY - Intake day of the week] [float] NULL,
	[DR2LANG - Language respondent used mostly] [float] NULL,
	[DR2CCMNM - Combination food number] [float] NULL,
	[DR2CCMTX - Combination food type] [float] NULL,
	[DR2_020 - Time of eating occasion (HH:MM)] [float] NULL,
	[DR2_030Z - Name of eating occasion] [float] NULL,
	[DR2FS - Source of food] [float] NULL,
	[DR2_040Z - Did you eat this meal at home?] [float] NULL,
	[DR2IFDCD - USDA food code] [float] NULL,
	[DR2IGRMS - Grams] [float] NULL,
	[DR2IKCAL - Energy (kcal)] [float] NULL,
	[DR2IPROT - Protein (gm)] [float] NULL,
	[DR2ICARB - Carbohydrate (gm)] [float] NULL,
	[DR2ISUGR - Total sugars (gm)] [float] NULL,
	[DR2IFIBE - Dietary fiber (gm)] [float] NULL,
	[DR2ITFAT - Total fat (gm)] [float] NULL,
	[DR2ISFAT - Total saturated fatty acids (gm)] [float] NULL,
	[DR2IMFAT - Total monounsaturated fatty acids (gm)] [float] NULL,
	[DR2IPFAT - Total polyunsaturated fatty acids (gm)] [float] NULL,
	[DR2ICHOL - Cholesterol (mg)] [float] NULL,
	[DR2IATOC - Vitamin E as alpha-tocopherol (mg)] [float] NULL,
	[DR2IATOA - Added alpha-tocopherol (Vitamin E) (mg)] [float] NULL,
	[DR2IRET - Retinol (mcg)] [float] NULL,
	[DR2IVARA - Vitamin A, RAE (mcg)] [float] NULL,
	[DR2IACAR - Alpha-carotene (mcg)] [float] NULL,
	[DR2IBCAR - Beta-carotene (mcg)] [float] NULL,
	[DR2ICRYP - Beta-cryptoxanthin (mcg)] [float] NULL,
	[DR2ILYCO - Lycopene (mcg)] [float] NULL,
	[DR2ILZ - Lutein + zeaxanthin (mcg)] [float] NULL,
	[DR2IVB1 - Thiamin (Vitamin B1) (mg)] [float] NULL,
	[DR2IVB2 - Riboflavin (Vitamin B2) (mg)] [float] NULL,
	[DR2INIAC - Niacin (mg)] [float] NULL,
	[DR2IVB6 - Vitamin B6 (mg)] [float] NULL,
	[DR2IFOLA - Total folate (mcg)] [float] NULL,
	[DR2IFA - Folic acid (mcg)] [float] NULL,
	[DR2IFF - Food folate (mcg)] [float] NULL,
	[DR2IFDFE - Folate, DFE (mcg)] [float] NULL,
	[DR2ICHL - Total choline (mg)] [float] NULL,
	[DR2IVB12 - Vitamin B12 (mcg)] [float] NULL,
	[DR2IB12A - Added vitamin B12 (mcg)] [float] NULL,
	[DR2IVC - Vitamin C (mg)] [float] NULL,
	[DR2IVD - Vitamin D (D2 + D3) (mcg)] [float] NULL,
	[DR2IVK - Vitamin K (mcg)] [float] NULL,
	[DR2ICALC - Calcium (mg)] [float] NULL,
	[DR2IPHOS - Phosphorus (mg)] [float] NULL,
	[DR2IMAGN - Magnesium (mg)] [float] NULL,
	[DR2IIRON - Iron (mg)] [float] NULL,
	[DR2IZINC - Zinc (mg)] [float] NULL,
	[DR2ICOPP - Copper (mg)] [float] NULL,
	[DR2ISODI - Sodium (mg)] [float] NULL,
	[DR2IPOTA - Potassium (mg)] [float] NULL,
	[DR2ISELE - Selenium (mcg)] [float] NULL,
	[DR2ICAFF - Caffeine (mg)] [float] NULL,
	[DR2ITHEO - Theobromine (mg)] [float] NULL,
	[DR2IALCO - Alcohol (gm)] [float] NULL,
	[DR2IMOIS - Moisture (gm)] [float] NULL,
	[DR2IS040 - SFA 4:0 (Butanoic) (gm)] [float] NULL,
	[DR2IS060 - SFA 6:0 (Hexanoic) (gm)] [float] NULL,
	[DR2IS080 - SFA 8:0 (Octanoic) (gm)] [float] NULL,
	[DR2IS100 - SFA 10:0 (Decanoic) (gm)] [float] NULL,
	[DR2IS120 - SFA 12:0 (Dodecanoic) (gm)] [float] NULL,
	[DR2IS140 - SFA 14:0 (Tetradecanoic) (gm)] [float] NULL,
	[DR2IS160 - SFA 16:0 (Hexadecanoic) (gm)] [float] NULL,
	[DR2IS180 - SFA 18:0 (Octadecanoic) (gm)] [float] NULL,
	[DR2IM161 - MFA 16:1 (Hexadecenoic) (gm)] [float] NULL,
	[DR2IM181 - MFA 18:1 (Octadecenoic) (gm)] [float] NULL,
	[DR2IM201 - MFA 20:1 (Eicosenoic) (gm)] [float] NULL,
	[DR2IM221 - MFA 22:1 (Docosenoic) (gm)] [float] NULL,
	[DR2IP182 - PFA 18:2 (Octadecadienoic) (gm)] [float] NULL,
	[DR2IP183 - PFA 18:3 (Octadecatrienoic) (gm)] [float] NULL,
	[DR2IP184 - PFA 18:4 (Octadecatetraenoic) (gm)] [float] NULL,
	[DR2IP204 - PFA 20:4 (Eicosatetraenoic) (gm)] [float] NULL,
	[DR2IP205 - PFA 20:5 (Eicosapentaenoic) (gm)] [float] NULL,
	[DR2IP225 - PFA 22:5 (Docosapentaenoic) (gm)] [float] NULL,
	[DR2IP226 - PFA 22:6 (Docosahexaenoic) (gm)] [float] NULL
) ON [PRIMARY]
GO
