USE [mrp_2015_2016_diet_esrd_mortality]
GO
/****** Object:  Table [dbo].[ages]    Script Date: 2019-07-03 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ages](
	[id] [float] NULL,
	[from] [float] NULL,
	[to] [float] NULL
) ON [PRIMARY]
GO
