USE [mrp_2015_2016_diet_esrd_mortality]
GO
/****** Object:  Table [dbo].[2015-2016-food-codes-DRXFCD_I]    Script Date: 2019-07-03 11:40:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2015-2016-food-codes-DRXFCD_I](
	[DRXFDCD] [float] NULL,
	[DRXFCSD] [nvarchar](255) NULL,
	[DRXFCLD] [nvarchar](255) NULL
) ON [PRIMARY]
GO
