USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[recommended_for_each_age]    Script Date: 2019-07-04 9:29:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recommended_for_each_age](
	[age_from] [int] NOT NULL,
	[age_to] [int] NOT NULL,
	[vegetables_from] [float] NOT NULL,
	[vegetables_to] [float] NOT NULL,
	[protein_from] [float] NOT NULL,
	[protein_to] [float] NOT NULL,
	[dairy_from] [int] NOT NULL,
	[dairy_to] [int] NOT NULL,
	[fruits_from] [float] NOT NULL,
	[fruits_to] [float] NOT NULL,
	[grains_from] [int] NOT NULL,
	[grains_to] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[recommended_for_each_age] ([age_from], [age_to], [vegetables_from], [vegetables_to], [protein_from], [protein_to], [dairy_from], [dairy_to], [fruits_from], [fruits_to], [grains_from], [grains_to]) VALUES (1, 1, 150, 225, 300, 600, 300, 375, 150, 225, 450, 750)
INSERT [dbo].[recommended_for_each_age] ([age_from], [age_to], [vegetables_from], [vegetables_to], [protein_from], [protein_to], [dairy_from], [dairy_to], [fruits_from], [fruits_to], [grains_from], [grains_to]) VALUES (2, 2, 150, 225, 300, 600, 300, 375, 150, 225, 450, 750)
INSERT [dbo].[recommended_for_each_age] ([age_from], [age_to], [vegetables_from], [vegetables_to], [protein_from], [protein_to], [dairy_from], [dairy_to], [fruits_from], [fruits_to], [grains_from], [grains_to]) VALUES (3, 3, 150, 225, 300, 600, 300, 375, 150, 225, 450, 750)
GO
