USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[usda_food_group_subgroup_relations]    Script Date: 2019-07-04 9:29:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usda_food_group_subgroup_relations](
	[entry_id] [float] NULL,
	[usda_food_group_id] [float] NULL,
	[food_group_name] [nvarchar](255) NULL,
	[food_group_name_to_use] [nvarchar](255) NULL,
	[usda_subgroup_id] [float] NULL,
	[usda_subgroup_name] [nvarchar](255) NULL,
	[usda_subgroup_name_to_use] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [food_group_name_to_use], [usda_subgroup_id], [usda_subgroup_name], [usda_subgroup_name_to_use]) VALUES (1, 1, N'Milk and milk products', NULL, 11, N'Milks and milk drinks ', NULL)
INSERT [dbo].[usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [food_group_name_to_use], [usda_subgroup_id], [usda_subgroup_name], [usda_subgroup_name_to_use]) VALUES (2, 1, N'Milk and milk products', NULL, 12, N'Creams and cream substitutes ', NULL)
INSERT [dbo].[usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [food_group_name_to_use], [usda_subgroup_id], [usda_subgroup_name], [usda_subgroup_name_to_use]) VALUES (3, 1, N'Milk and milk products', NULL, 13, N'Milk desserts, sauces, gravies ', NULL)
