USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[food_groups_shift_recommendation]    Script Date: 2019-07-04 9:29:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_groups_shift_recommendation](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[id_to_use] [tinyint] NULL,
	[food_group_name] [varchar](500) NOT NULL,
	[name_to_use] [varchar](100) NULL,
	[is_parent] [tinyint] NULL,
	[is_in_usda] [smallint] NULL,
	[is_shift_subgroup] [tinyint] NULL,
	[parent_group_id] [smallint] NULL,
	[usda_group_id] [smallint] NULL,
	[usda_subgroup_code_1] [bigint] NULL,
	[usda_subgroup_code_2] [bigint] NULL,
	[usda_subgroup_code_3] [bigint] NULL,
	[usda_subgroup_code_4] [bigint] NULL,
	[usda_subgroup_code_5] [bigint] NULL,
	[usda_subgroup_code_6] [bigint] NULL,
	[usda_subgroup_code_7] [bigint] NULL,
	[usda_subgroup_code_8] [bigint] NULL,
	[note] [varchar](max) NULL,
 CONSTRAINT [PK_food_groups_shift_recommendation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[food_groups_shift_recommendation] ON 

INSERT [dbo].[food_groups_shift_recommendation] ([id], [id_to_use], [food_group_name], [name_to_use], [is_parent], [is_in_usda], [is_shift_subgroup], [parent_group_id], [usda_group_id], [usda_subgroup_code_1], [usda_subgroup_code_2], [usda_subgroup_code_3], [usda_subgroup_code_4], [usda_subgroup_code_5], [usda_subgroup_code_6], [usda_subgroup_code_7], [usda_subgroup_code_8], [note]) VALUES (1, 1, N'Vegetables', N'Vegetables', 1, 1, 0, 1, 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[food_groups_shift_recommendation] ([id], [id_to_use], [food_group_name], [name_to_use], [is_parent], [is_in_usda], [is_shift_subgroup], [parent_group_id], [usda_group_id], [usda_subgroup_code_1], [usda_subgroup_code_2], [usda_subgroup_code_3], [usda_subgroup_code_4], [usda_subgroup_code_5], [usda_subgroup_code_6], [usda_subgroup_code_7], [usda_subgroup_code_8], [note]) VALUES (2, 2, N'Dark-green vegetables', N'Dark-green vegetables', 0, 0, 1, 1, 7, 72, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[food_groups_shift_recommendation] ([id], [id_to_use], [food_group_name], [name_to_use], [is_parent], [is_in_usda], [is_shift_subgroup], [parent_group_id], [usda_group_id], [usda_subgroup_code_1], [usda_subgroup_code_2], [usda_subgroup_code_3], [usda_subgroup_code_4], [usda_subgroup_code_5], [usda_subgroup_code_6], [usda_subgroup_code_7], [usda_subgroup_code_8], [note]) VALUES (3, 3, N'Red and orange vegetables', N'Red and orange vegetables', 0, 0, 1, 1, 7, 73, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[food_groups_shift_recommendation] OFF
ALTER TABLE [dbo].[food_groups_shift_recommendation] ADD  CONSTRAINT [DF_food_groups_shift_recommendation_is_in_usda]  DEFAULT ((0)) FOR [is_in_usda]
GO
ALTER TABLE [dbo].[food_groups_shift_recommendation] ADD  CONSTRAINT [DF_food_groups_shift_recommendation_is_shift_subgroup]  DEFAULT ((0)) FOR [is_shift_subgroup]
GO
