USE [mrp_experiment_phase_data_process]
GO
/****** Object:  StoredProcedure [dbo].[create-multi-day-2015-2016-dietary-nutrients-intake]    Script Date: 2019-07-17 5:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[create-multi-day-2015-2016-dietary-nutrients-intake] 
AS
BEGIN
  
   drop table [multi-day-2015-2016-dietary-nutrients-intake]

		-- columns/fields used from the 2nd table
		SELECT [SEQN - Respondent sequence number]
      ,[WTDRD1 - Dietary day one sample weight]
      ,[WTDR2D - Dietary two-day sample weight]
      ,[DR1DRSTZ - Dietary recall status]
      ,[DR1EXMER - Interviewer ID code]
      ,[DRABF - Breast-fed infant (either day)]
      ,[DRDINT - Number of days of intake]
      ,[DR1DBIH - # of days b/w intake and HH interview]
      ,[DR1DAY - Intake day of the week]
      ,[DR1LANG - Language respondent used mostly]
      ,[DR1MRESP - Main respondent for this interview]
      ,[DR1HELP - Helped in responding for this interview]
      ,[DR1TNUMF - Number of foods/beverages reported]
      ,[DR1STY - Salt used at table yesterday?]
      ,[DR1SKY - Type of salt used yesterday]
      ,[DR1TKCAL - Energy (kcal)]
      ,[DR1TPROT - Protein (gm)]
      ,[DR1TCARB - Carbohydrate (gm)]
      ,[DR1TSUGR - Total sugars (gm)]
      ,[DR1TFIBE - Dietary fiber (gm)]
      ,[DR1TTFAT - Total fat (gm)]
      ,[DR1TSFAT - Total saturated fatty acids (gm)]
      ,[DR1TMFAT - Total monounsaturated fatty acids (gm)]
      ,[DR1TPFAT - Total polyunsaturated fatty acids (gm)]
      ,[DR1TCHOL - Cholesterol (mg)]
      ,[DR1TATOC - Vitamin E as alpha-tocopherol (mg)]
      ,[DR1TATOA - Added alpha-tocopherol (Vitamin E) (mg)]
      ,[DR1TRET - Retinol (mcg)]
      ,[DR1TVARA - Vitamin A, RAE (mcg)]
      ,[DR1TACAR - Alpha-carotene (mcg)]
      ,[DR1TBCAR - Beta-carotene (mcg)]
      ,[DR1TCRYP - Beta-cryptoxanthin (mcg)]
      ,[DR1TLYCO - Lycopene (mcg)]
      ,[DR1TLZ - Lutein + zeaxanthin (mcg)]
      ,[DR1TVB1 - Thiamin (Vitamin B1) (mg)]
      ,[DR1TVB2 - Riboflavin (Vitamin B2) (mg)]
      ,[DR1TNIAC - Niacin (mg)]
      ,[DR1TVB6 - Vitamin B6 (mg)]
      ,[DR1TFOLA - Total folate (mcg)]
      ,[DR1TFA - Folic acid (mcg)]
      ,[DR1TFF - Food folate (mcg)]
      ,[DR1TFDFE - Folate, DFE (mcg)]
      ,[DR1TCHL - Total choline (mg)]
      ,[DR1TVB12 - Vitamin B12 (mcg)]
      ,[DR1TB12A - Added vitamin B12 (mcg)]
      ,[DR1TVC - Vitamin C (mg)]
      ,[DR1TVD - Vitamin D (D2 + D3) (mcg)]
      ,[DR1TVK - Vitamin K (mcg)]
      ,[DR1TCALC - Calcium (mg)]
      ,[DR1TPHOS - Phosphorus (mg)]
      ,[DR1TMAGN - Magnesium (mg)]
      ,[DR1TIRON - Iron (mg)]
      ,[DR1TZINC - Zinc (mg)]
      ,[DR1TCOPP - Copper (mg)]
      ,[DR1TSODI - Sodium (mg)]
      ,[DR1TPOTA - Potassium (mg)]
      ,[DR1TSELE - Selenium (mcg)]
      ,[DR1TCAFF - Caffeine (mg)]
      ,[DR1TTHEO - Theobromine (mg)]
      ,[DR1TALCO - Alcohol (gm)]
      ,[DR1TMOIS - Moisture (gm)]
      ,[DR1TS040 - SFA 4:0 (Butanoic) (gm)]
      ,[DR1TS060 - SFA 6:0 (Hexanoic) (gm)]
      ,[DR1TS080 - SFA 8:0 (Octanoic) (gm)]
      ,[DR1TS100 - SFA 10:0 (Decanoic) (gm)]
      ,[DR1TS120 - SFA 12:0 (Dodecanoic) (gm)]
      ,[DR1TS140 - SFA 14:0 (Tetradecanoic) (gm)]
      ,[DR1TS160 - SFA 16:0 (Hexadecanoic) (gm)]
      ,[DR1TS180 - SFA 18:0 (Octadecanoic) (gm)]
      ,[DR1TM161 - MFA 16:1 (Hexadecenoic) (gm)]
      ,[DR1TM181 - MFA 18:1 (Octadecenoic) (gm)]
      ,[DR1TM201 - MFA 20:1 (Eicosenoic) (gm)]
      ,[DR1TM221 - MFA 22:1 (Docosenoic) (gm)]
      ,[DR1TP182 - PFA 18:2 (Octadecadienoic) (gm)]
      ,[DR1TP183 - PFA 18:3 (Octadecatrienoic) (gm)]
      ,[DR1TP184 - PFA 18:4 (Octadecatetraenoic) (gm)]
      ,[DR1TP204 - PFA 20:4 (Eicosatetraenoic) (gm)]
      ,[DR1TP205 - PFA 20:5 (Eicosapentaenoic) (gm)]
      ,[DR1TP225 - PFA 22:5 (Docosapentaenoic) (gm)]
      ,[DR1TP226 - PFA 22:6 (Docosahexaenoic) (gm)]
      ,[DR1_300 - Compare food consumed yesterday to usual]
      ,[DR1_320Z - Total plain water drank yesterday (gm)]
      ,[DR1_330Z - Total tap water drank yesterday (gm)]
      ,[DR1BWATZ - Total bottled water drank yesterday (gm)]
      ,[DR1TWS - Tap water source]
	  ,'1' as [day]
	  ,'2015-2016' as session_period
	  ,'2015' as session_start
	  ,'2016' as session_end


  into [multi-day-2015-2016-dietary-nutrients-intake]
  FROM [dbo].[modified-2015-2016-dietary-nutrients-intake-first-day-DR1TOT_I]
 
	insert into [multi-day-2015-2016-dietary-nutrients-intake]
	SELECT [SEQN - Respondent sequence number]
      ,[WTDRD1 - Dietary day one sample weight]
      ,[WTDR2D - Dietary two-day sample weight]
      ,[DR2DRSTZ - Dietary recall status]
      ,[DR2EXMER - Interviewer ID code]
      ,[DRABF - Breast-fed infant (either day)]
      ,[DRDINT - Number of days of intake]
      ,[DR2DBIH - # of days b/w intake and HH interview]
      ,[DR2DAY - Intake day of the week]
      ,[DR2LANG - Language respondent used mostly]
      ,[DR2MRESP - Main respondent for this interview]
      ,[DR2HELP - Helped in responding for this interview]
      ,[DR2TNUMF - Number of foods/beverages reported]
      ,[DR2STY - Salt used at table yesterday?]
      ,[DR2SKY - Type of salt used yesterday]
      ,[DR2TKCAL - Energy (kcal)]
      ,[DR2TPROT - Protein (gm)]
      ,[DR2TCARB - Carbohydrate (gm)]
      ,[DR2TSUGR - Total sugars (gm)]
      ,[DR2TFIBE - Dietary fiber (gm)]
      ,[DR2TTFAT - Total fat (gm)]
      ,[DR2TSFAT - Total saturated fatty acids (gm)]
      ,[DR2TMFAT - Total monounsaturated fatty acids (gm)]
      ,[DR2TPFAT - Total polyunsaturated fatty acids (gm)]
      ,[DR2TCHOL - Cholesterol (mg)]
      ,[DR2TATOC - Vitamin E as alpha-tocopherol (mg)]
      ,[DR2TATOA - Added alpha-tocopherol (Vitamin E) (mg)]
      ,[DR2TRET - Retinol (mcg)]
      ,[DR2TVARA - Vitamin A, RAE (mcg)]
      ,[DR2TACAR - Alpha-carotene (mcg)]
      ,[DR2TBCAR - Beta-carotene (mcg)]
      ,[DR2TCRYP - Beta-cryptoxanthin (mcg)]
      ,[DR2TLYCO - Lycopene (mcg)]
      ,[DR2TLZ - Lutein + zeaxanthin (mcg)]
      ,[DR2TVB1 - Thiamin (Vitamin B1) (mg)]
      ,[DR2TVB2 - Riboflavin (Vitamin B2) (mg)]
      ,[DR2TNIAC - Niacin (mg)]
      ,[DR2TVB6 - Vitamin B6 (mg)]
      ,[DR2TFOLA - Total folate (mcg)]
      ,[DR2TFA - Folic acid (mcg)]
      ,[DR2TFF - Food folate (mcg)]
      ,[DR2TFDFE - Folate, DFE (mcg)]
      ,[DR2TCHL - Total choline (mg)]
      ,[DR2TVB12 - Vitamin B12 (mcg)]
      ,[DR2TB12A - Added vitamin B12 (mcg)]
      ,[DR2TVC - Vitamin C (mg)]
      ,[DR2TVD - Vitamin D (D2 + D3) (mcg)]
      ,[DR2TVK - Vitamin K (mcg)]
      ,[DR2TCALC - Calcium (mg)]
      ,[DR2TPHOS - Phosphorus (mg)]
      ,[DR2TMAGN - Magnesium (mg)]
      ,[DR2TIRON - Iron (mg)]
      ,[DR2TZINC - Zinc (mg)]
      ,[DR2TCOPP - Copper (mg)]
      ,[DR2TSODI - Sodium (mg)]
      ,[DR2TPOTA - Potassium (mg)]
      ,[DR2TSELE - Selenium (mcg)]
      ,[DR2TCAFF - Caffeine (mg)]
      ,[DR2TTHEO - Theobromine (mg)]
      ,[DR2TALCO - Alcohol (gm)]
      ,[DR2TMOIS - Moisture (gm)]
      ,[DR2TS040 - SFA 4:0 (Butanoic) (gm)]
      ,[DR2TS060 - SFA 6:0 (Hexanoic) (gm)]
      ,[DR2TS080 - SFA 8:0 (Octanoic) (gm)]
      ,[DR2TS100 - SFA 10:0 (Decanoic) (gm)]
      ,[DR2TS120 - SFA 12:0 (Dodecanoic) (gm)]
      ,[DR2TS140 - SFA 14:0 (Tetradecanoic) (gm)]
      ,[DR2TS160 - SFA 16:0 (Hexadecanoic) (gm)]
      ,[DR2TS180 - SFA 18:0 (Octadecanoic) (gm)]
      ,[DR2TM161 - MFA 16:1 (Hexadecenoic) (gm)]
      ,[DR2TM181 - MFA 18:1 (Octadecenoic) (gm)]
      ,[DR2TM201 - MFA 20:1 (Eicosenoic) (gm)]
      ,[DR2TM221 - MFA 22:1 (Docosenoic) (gm)]
      ,[DR2TP182 - PFA 18:2 (Octadecadienoic) (gm)]
      ,[DR2TP183 - PFA 18:3 (Octadecatrienoic) (gm)]
      ,[DR2TP184 - PFA 18:4 (Octadecatetraenoic) (gm)]
      ,[DR2TP204 - PFA 20:4 (Eicosatetraenoic) (gm)]
      ,[DR2TP205 - PFA 20:5 (Eicosapentaenoic) (gm)]
      ,[DR2TP225 - PFA 22:5 (Docosapentaenoic) (gm)]
      ,[DR2TP226 - PFA 22:6 (Docosahexaenoic) (gm)]
      ,[DR2_300 - Compare food consumed yesterday to usual]
      ,[DR2_320Z - Total plain water drank yesterday (gm)]
      ,[DR2_330Z - Total tap water drank yesterday (gm)]
      ,[DR2BWATZ - Total bottled water drank yesterday (gm)]
      ,[DR2TWS - Tap water source]
	  ,'2' as [day]
	  ,'2015-2016' as session_period
	  ,'2015' as session_start
	  ,'2016' as session_end
	  
  FROM [dbo].[2015-2016-dietary-nutrients-intake-2nd-day-DR2TOT_I]

END
GO
