USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[ages]    Script Date: 2019-07-17 5:30:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ages](
	[id] [float] NULL,
	[from] [float] NULL,
	[to] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ages] ([id], [from], [to]) VALUES (0, 0, 0)
INSERT [dbo].[ages] ([id], [from], [to]) VALUES (1, 1, 1)
INSERT [dbo].[ages] ([id], [from], [to]) VALUES (2, 2, 2)
GO
