USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[old_usda_food_group_subgroup_relations]    Script Date: 2019-07-04 9:29:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[old_usda_food_group_subgroup_relations](
	[entry_id] [smallint] IDENTITY(1,1) NOT NULL,
	[usda_food_group_id] [int] NULL,
	[food_group_name] [varchar](500) NULL,
	[usda_subgroup_id] [nvarchar](50) NOT NULL,
	[usda_subgroup_name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[old_usda_food_group_subgroup_relations] ON 

INSERT [dbo].[old_usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [usda_subgroup_id], [usda_subgroup_name]) VALUES (1, 7, N'Vegetables', N'71', NULL)
INSERT [dbo].[old_usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [usda_subgroup_id], [usda_subgroup_name]) VALUES (4, 7, N'Vegetables', N'72', NULL)
INSERT [dbo].[old_usda_food_group_subgroup_relations] ([entry_id], [usda_food_group_id], [food_group_name], [usda_subgroup_id], [usda_subgroup_name]) VALUES (5, 7, N'Vegetables', N'73', NULL)
SET IDENTITY_INSERT [dbo].[old_usda_food_group_subgroup_relations] OFF
