USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[nutrient_demo_acr_must_kidney_blood_optional]    Script Date: 2019-07-04 9:29:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nutrient_demo_acr_must_kidney_blood_optional](
	[SEQN - Respondent sequence number] [nvarchar](50) NULL,
	[WTDRD1 - Dietary day one sample weight] [nvarchar](50) NULL,
	[WTDR2D - Dietary two-day sample weight] [nvarchar](50) NULL,
	[DR1ILINE - Food/Individual component number] [nvarchar](50) NULL,
	[DR1DRSTZ - Dietary recall status] [nvarchar](50) NULL,
	[DR1EXMER - Interviewer ID code] [nvarchar](50) NULL,
	[DRABF - Breast-fed infant (either day)] [nvarchar](50) NULL,
	[DRDINT - Number of days of intake] [float] NULL,
	[DR1DBIH - # of days b/w intake and HH interview] [float] NULL,
	[DR1DAY - Intake day of the week] [nvarchar](50) NULL,
	[DR1LANG - Language respondent used mostly] [nvarchar](50) NULL,
	[DR1CCMNM - Combination food number] [nvarchar](50) NULL,
	[DR1CCMTX - Combination food type] [nvarchar](50) NULL,
	[DR1_020 - Time of eating occasion (HH:MM)] [nvarchar](50) NULL,
	[DR1_030Z - Name of eating occasion] [nvarchar](50) NULL,
	[DR1FS - Source of food] [nvarchar](50) NULL,
	[DR1_040Z - Did you eat this meal at home?] [nvarchar](50) NULL,
	[DR1IFDCD - USDA food code] [nvarchar](50) NULL,
	[DR1IGRMS - Grams] [float] NULL,
	[DR1IKCAL - Energy (kcal)] [float] NULL,
	[DR1IPROT - Protein (gm)] [float] NULL,
	[DR1ICARB - Carbohydrate (gm)] [float] NULL,
	[DR1ISUGR - Total sugars (gm)] [float] NULL,
	[DR1IFIBE - Dietary fiber (gm)] [float] NULL,
	[DR1ITFAT - Total fat (gm)] [float] NULL,
	[DR1ISFAT - Total saturated fatty acids (gm)] [float] NULL,
	[DR1IMFAT - Total monounsaturated fatty acids (gm)] [float] NULL,
	[DR1IPFAT - Total polyunsaturated fatty acids (gm)] [float] NULL,
	[DR1ICHOL - Cholesterol (mg)] [float] NULL,
	[DR1IATOC - Vitamin E as alpha-tocopherol (mg)] [float] NULL,
	[DR1IATOA - Added alpha-tocopherol (Vitamin E) (mg)] [float] NULL,
	[DR1IRET - Retinol (mcg)] [float] NULL,
	[DR1IVARA - Vitamin A, RAE (mcg)] [float] NULL,
	[DR1IACAR - Alpha-carotene (mcg)] [float] NULL,
	[DR1IBCAR - Beta-carotene (mcg)] [float] NULL,
	[DR1ICRYP - Beta-cryptoxanthin (mcg)] [float] NULL,
	[DR1ILYCO - Lycopene (mcg)] [float] NULL,
	[DR1ILZ - Lutein + zeaxanthin (mcg)] [float] NULL,
	[DR1IVB1 - Thiamin (Vitamin B1) (mg)] [float] NULL,
	[DR1IVB2 - Riboflavin (Vitamin B2) (mg)] [float] NULL,
	[DR1INIAC - Niacin (mg)] [float] NULL,
	[DR1IVB6 - Vitamin B6 (mg)] [float] NULL,
	[DR1IFOLA - Total folate (mcg)] [float] NULL,
	[DR1IFA - Folic acid (mcg)] [float] NULL,
	[DR1IFF - Food folate (mcg)] [float] NULL,
	[DR1IFDFE - Folate, DFE (mcg)] [float] NULL,
	[DR1ICHL - Total choline (mg)] [float] NULL,
	[DR1IVB12 - Vitamin B12 (mcg)] [float] NULL,
	[DR1IB12A - Added vitamin B12 (mcg)] [float] NULL,
	[DR1IVC - Vitamin C (mg)] [float] NULL,
	[DR1IVD - Vitamin D (D2 + D3) (mcg)] [float] NULL,
	[DR1IVK - Vitamin K (mcg)] [float] NULL,
	[DR1ICALC - Calcium (mg)] [float] NULL,
	[DR1IPHOS - Phosphorus (mg)] [float] NULL,
	[DR1IMAGN - Magnesium (mg)] [float] NULL,
	[DR1IIRON - Iron (mg)] [float] NULL,
	[DR1IZINC - Zinc (mg)] [float] NULL,
	[DR1ICOPP - Copper (mg)] [float] NULL,
	[DR1ISODI - Sodium (mg)] [float] NULL,
	[DR1IPOTA - Potassium (mg)] [float] NULL,
	[DR1ISELE - Selenium (mcg)] [float] NULL,
	[DR1ICAFF - Caffeine (mg)] [float] NULL,
	[DR1ITHEO - Theobromine (mg)] [float] NULL,
	[DR1IALCO - Alcohol (gm)] [float] NULL,
	[DR1IMOIS - Moisture (gm)] [float] NULL,
	[DR1IS040 - SFA 4:0 (Butanoic) (gm)] [float] NULL,
	[DR1IS060 - SFA 6:0 (Hexanoic) (gm)] [float] NULL,
	[DR1IS080 - SFA 8:0 (Octanoic) (gm)] [float] NULL,
	[DR1IS100 - SFA 10:0 (Decanoic) (gm)] [float] NULL,
	[DR1IS120 - SFA 12:0 (Dodecanoic) (gm)] [float] NULL,
	[DR1IS140 - SFA 14:0 (Tetradecanoic) (gm)] [float] NULL,
	[DR1IS160 - SFA 16:0 (Hexadecanoic) (gm)] [float] NULL,
	[DR1IS180 - SFA 18:0 (Octadecanoic) (gm)] [float] NULL,
	[DR1IM161 - MFA 16:1 (Hexadecenoic) (gm)] [float] NULL,
	[DR1IM181 - MFA 18:1 (Octadecenoic) (gm)] [float] NULL,
	[DR1IM201 - MFA 20:1 (Eicosenoic) (gm)] [float] NULL,
	[DR1IM221 - MFA 22:1 (Docosenoic) (gm)] [float] NULL,
	[DR1IP182 - PFA 18:2 (Octadecadienoic) (gm)] [float] NULL,
	[DR1IP183 - PFA 18:3 (Octadecatrienoic) (gm)] [float] NULL,
	[DR1IP184 - PFA 18:4 (Octadecatetraenoic) (gm)] [float] NULL,
	[DR1IP204 - PFA 20:4 (Eicosatetraenoic) (gm)] [float] NULL,
	[DR1IP205 - PFA 20:5 (Eicosapentaenoic) (gm)] [float] NULL,
	[DR1IP225 - PFA 22:5 (Docosapentaenoic) (gm)] [float] NULL,
	[DR1IP226 - PFA 22:6 (Docosahexaenoic) (gm)] [float] NULL,
	[Day] [float] NULL,
	[session_period] [nvarchar](255) NULL,
	[session_start] [float] NULL,
	[session_end] [float] NULL,
	[SEQN - Respondent sequence number1] [nvarchar](50) NULL,
	[SDDSRVYR - Data release cycle] [nvarchar](50) NULL,
	[RIDSTATR - Interview/Examination status] [float] NULL,
	[RIAGENDR - Gender] [float] NULL,
	[RIDAGEYR - Age in years at screening] [float] NULL,
	[RIDAGEMN - Age in months at screening - 0 to 24 mos] [nvarchar](255) NULL,
	[RIDRETH1 - Race/Hispanic origin] [float] NULL,
	[RIDRETH3 - Race/Hispanic origin w/ NH Asian] [float] NULL,
	[RIDEXMON - Six month time period] [float] NULL,
	[RIDEXAGM - Age in months at exam - 0 to 19 years] [nvarchar](255) NULL,
	[DMQMILIZ - Served active duty in US Armed Forces] [float] NULL,
	[DMQADFC - Served in a foreign country] [nvarchar](255) NULL,
	[DMDBORN4 - Country of birth] [float] NULL,
	[DMDCITZN - Citizenship status] [float] NULL,
	[DMDYRSUS - Length of time in US] [nvarchar](255) NULL,
	[DMDEDUC3 - Education level - Children/Youth 6-19] [nvarchar](255) NULL,
	[DMDEDUC2 - Education level - Adults 20+] [float] NULL,
	[DMDMARTL - Marital status] [float] NULL,
	[RIDEXPRG - Pregnancy status at exam] [nvarchar](255) NULL,
	[SIALANG - Language of SP Interview] [float] NULL,
	[SIAPROXY - Proxy used in SP Interview?] [float] NULL,
	[SIAINTRP - Interpreter used in SP Interview?] [float] NULL,
	[FIALANG - Language of Family Interview] [float] NULL,
	[FIAPROXY - Proxy used in Family Interview?] [float] NULL,
	[FIAINTRP - Interpreter used in Family Interview?] [float] NULL,
	[MIALANG - Language of MEC Interview] [float] NULL,
	[MIAPROXY - Proxy used in MEC Interview?] [float] NULL,
	[MIAINTRP - Interpreter used in MEC Interview?] [float] NULL,
	[AIALANGA - Language of ACASI Interview] [float] NULL,
	[DMDHHSIZ - Total number of people in the Household] [float] NULL,
	[DMDFMSIZ - Total number of people in the Family] [float] NULL,
	[DMDHHSZA - # of children 5 years or younger in HH] [float] NULL,
	[DMDHHSZB - # of children 6-17 years old in HH] [float] NULL,
	[DMDHHSZE - # of adults 60 years or older in HH] [float] NULL,
	[DMDHRGND - HH ref person's gender] [float] NULL,
	[DMDHRAGE - HH ref person's age in years] [float] NULL,
	[DMDHRBR4 - HH ref person's country of birth] [float] NULL,
	[DMDHREDU - HH ref person's education level] [float] NULL,
	[DMDHRMAR - HH ref person's marital status] [float] NULL,
	[DMDHSEDU - HH ref person's spouse's education level] [float] NULL,
	[WTINT2YR - Full sample 2 year interview weight] [float] NULL,
	[WTMEC2YR - Full sample 2 year MEC exam weight] [float] NULL,
	[SDMVPSU - Masked variance pseudo-PSU] [float] NULL,
	[SDMVSTRA - Masked variance pseudo-stratum] [float] NULL,
	[INDHHIN2 - Annual household income] [float] NULL,
	[INDFMIN2 - Annual family income] [float] NULL,
	[INDFMPIR - Ratio of family income to poverty] [float] NULL,
	[SEQN - Respondent sequence number2] [float] NULL,
	[URXUMA - Albumin, urine (ug/mL)] [float] NULL,
	[URDUMALC - Albumin, urine comment code] [float] NULL,
	[URXUMS - Albumin, urine (mg/L)] [float] NULL,
	[URXUCR - Creatinine, urine (mg/dL)] [float] NULL,
	[URDUCRLC - Creatinine, urine comment code] [float] NULL,
	[URXCRS - Creatinine, urine (umol/L)] [float] NULL,
	[URDACT - Albumin creatinine ratio (mg/g)] [float] NULL,
	[SEQN - Respondent sequence number3] [float] NULL,
	[KIQ022 - Ever told you had weak/failing kidneys] [float] NULL,
	[KIQ025 - Received dialysis in past 12 months] [nvarchar](255) NULL,
	[KIQ026 - Ever had kidney stones?] [float] NULL,
	[KIQ029 - Pass kidney stone in past 12 months?] [nvarchar](255) NULL,
	[KIQ005 - How often have urinary leakage] [float] NULL,
	[KIQ010 - How much urine lose each time?] [nvarchar](255) NULL,
	[KIQ042 - Leak urine during physical activities] [float] NULL,
	[KIQ430 - How frequently does this occur?] [nvarchar](255) NULL,
	[KIQ044 - Urinated before reaching the toilet] [float] NULL,
	[KIQ450 - How frequently does this occur?] [nvarchar](255) NULL,
	[KIQ046 - Leak urine during nonphysical activities] [float] NULL,
	[KIQ470 - How frequently does this occur?] [nvarchar](255) NULL,
	[KIQ048A - CHECK ITEM] [nvarchar](255) NULL,
	[KIQ050 - How much did urine leakage bother you] [nvarchar](255) NULL,
	[KIQ052 - How much were daily activities affected] [float] NULL,
	[KIQ480 - How many times urinate in night?] [nvarchar](255) NULL,
	[SEQN - Respondent sequence number4] [float] NULL,
	[PEASCCT1 - Blood Pressure Comment] [nvarchar](255) NULL,
	[BPXCHR - 60 sec HR (30 sec HR * 2)] [nvarchar](255) NULL,
	[BPAARM - Arm selected] [float] NULL,
	[BPACSZ - Coded cuff size] [float] NULL,
	[BPXPLS - 60 sec# pulse (30 sec# pulse * 2)] [float] NULL,
	[BPXPULS - Pulse regular or irregular?] [float] NULL,
	[BPXPTY - Pulse type] [float] NULL,
	[BPXML1 - MIL: maximum inflation levels (mm Hg)] [float] NULL,
	[BPXSY1 - Systolic: Blood pres (1st rdg) mm Hg] [float] NULL,
	[BPXDI1 - Diastolic: Blood pres (1st rdg) mm Hg] [float] NULL,
	[BPAEN1 - Enhancement used first reading] [float] NULL,
	[BPXSY2 - Systolic: Blood pres (2nd rdg) mm Hg] [float] NULL,
	[BPXDI2 - Diastolic: Blood pres (2nd rdg) mm Hg] [float] NULL,
	[BPAEN2 - Enhancement used second reading] [float] NULL,
	[BPXSY3 - Systolic: Blood pres (3rd rdg) mm Hg] [float] NULL,
	[BPXDI3 - Diastolic: Blood pres (3rd rdg) mm Hg] [float] NULL,
	[BPAEN3 - Enhancement used third reading] [float] NULL,
	[BPXSY4 - Systolic: Blood pres (4th rdg) mm Hg] [nvarchar](255) NULL,
	[BPXDI4 - Diastolic: Blood pres (4th rdg) mm Hg] [nvarchar](255) NULL,
	[BPAEN4 - Enhancement used fourth reading] [nvarchar](255) NULL
) ON [PRIMARY]
GO
