USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[nutrients_demographics]    Script Date: 2019-07-17 5:28:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nutrients_demographics](
	[participant_id] [float] NULL,
	[avg_energy_kcal] [float] NULL,
	[avg_protein_gm] [float] NULL,
	[avg_carbohydrate_gm] [float] NULL,
	[avg_total_sugars] [float] NULL,
	[avg_dietary_fiber_gm] [float] NULL,
	[avg_total_fat_gm] [float] NULL,
	[avg_total_saturated_fatty_acids_gm] [float] NULL,
	[avg_total_monounsaturated_fatty_acids_gm] [float] NULL,
	[avg_total_polyunsaturated_fatty_acids_gm] [float] NULL,
	[avg_cholesterol_mg] [float] NULL,
	[avg_vitamin_e_as_alpha_tocopherol_mg] [float] NULL,
	[avg_added_alpha_tocopherol_vitamin_E_mg] [float] NULL,
	[retinol_mcg] [float] NULL,
	[avg_Vitamin_A_RAE_mcg] [float] NULL,
	[avg_Alpha_carotene_mcg] [float] NULL,
	[avg_beta_carotene_mcg] [float] NULL,
	[avg_beta_cryptoxanthin_mcg] [float] NULL,
	[avg_lycopene_mcg] [float] NULL,
	[avg_lutein_zeaxanthin_mcg] [float] NULL,
	[avg_thiamin_vitamin_B1_mg] [float] NULL,
	[avg_riboflavin_Vitamin_B2_mg] [float] NULL,
	[avg_Niacin_mg] [float] NULL,
	[avg_Vitamin_B6_mg] [float] NULL,
	[avg_Total_folate_mcg] [float] NULL,
	[avg_Folic_acid_mcg] [float] NULL,
	[avg_Food_folate_mcg] [float] NULL,
	[avg_Folate_DFE_mcg] [float] NULL,
	[Total_choline_mg] [float] NULL,
	[Vitamin_B12_mcg] [float] NULL,
	[avg_Added_vitamin_B12_mcg] [float] NULL,
	[avg_Vitamin_C_mg] [float] NULL,
	[avg_Vitamin_D_D2_D3_mcg] [float] NULL,
	[avg_Vitamin_K_mcg] [float] NULL,
	[avg_Calcium_mg] [float] NULL,
	[avg_Phosphorus_mg] [float] NULL,
	[avg_Magnesium_mg] [float] NULL,
	[avg_Iron_mg] [float] NULL,
	[avg_Zinc_mg] [float] NULL,
	[avg_Copper_mg] [float] NULL,
	[avg_Sodium_mg] [float] NULL,
	[avg_Potassium_mg] [float] NULL,
	[avg_Selenium_mcg] [float] NULL,
	[avg_Caffeine_mg] [float] NULL,
	[avg_Theobromine_mg] [float] NULL,
	[avg_Alcohol_gm] [float] NULL,
	[avg_Moisture_gm] [float] NULL,
	[Butanoic_gm] [float] NULL,
	[Hexanoic_gm] [float] NULL,
	[Octanoic_gm] [float] NULL,
	[Decanoic_gm] [float] NULL,
	[Dodecanoic_gm] [float] NULL,
	[Tetradecanoic_gm] [float] NULL,
	[Hexadecanoic_gm] [float] NULL,
	[Octadecanoic_gm] [float] NULL,
	[Hexadecenoic_gm] [float] NULL,
	[Octadecenoic_gm] [float] NULL,
	[Eicosenoic_gm] [float] NULL,
	[Docosenoic_gm] [float] NULL,
	[Octadecadienoic1_gm] [float] NULL,
	[Octadecatrienoic2_gm] [float] NULL,
	[Octadecatetraenoic3_gm] [float] NULL,
	[Eicosatetraenoic1_gm] [float] NULL,
	[Eicosapentaenoic2_gm] [float] NULL,
	[Docosapentaenoic1_gm] [float] NULL,
	[Docosahexaenoic2_gm] [float] NULL,
	[avg_Total_plain_water_drank_yesterday_gm] [float] NULL,
	[avg_Total_tap_water_drank_yesterday_gm] [float] NULL,
	[avg_Total_bottled_water_drank_yesterday_gm] [float] NULL
) ON [PRIMARY]
GO
