USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[2015-2016-support-food-codes-DRXFCD_I]    Script Date: 2019-07-03 8:53:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2015-2016-support-food-codes-DRXFCD_I](
	[DRXFDCD] [float] NULL,
	[DRXFCSD] [nvarchar](255) NULL,
	[DRXFCLD] [nvarchar](255) NULL,
	[F4] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL
) ON [PRIMARY]
GO
