USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[food_groups_in_column_names]    Script Date: 2019-07-17 5:27:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_groups_in_column_names](
	[participant_id] [float] NULL,
	[Dairy] [float] NULL,
	[Fats, oils, and salad dressings] [float] NULL,
	[Fruits] [float] NULL,
	[Grains] [float] NULL,
	[Protein] [float] NULL,
	[Sugars, sweets, and beverages] [float] NULL,
	[Vegetables] [float] NULL,
	[participant_age] [float] NULL,
	[gender] [float] NULL,
	[age_from_recom_amount] [float] NULL,
	[avg_taken_from_recom_amount] [float] NULL,
	[recommended_low] [float] NULL,
	[recommended_high] [float] NULL,
	[acr] [float] NULL,
	[kidney_failed] [float] NULL,
	[systolic_pressure] [float] NULL,
	[diastolic_pressure] [float] NULL,
	[calorie] [float] NULL,
	[protein1] [float] NULL,
	[sodium] [float] NULL,
	[carbohydrate] [float] NULL,
	[sugar] [float] NULL,
	[fibre] [float] NULL,
	[fat] [float] NULL,
	[saturated_fat] [float] NULL,
	[mono_fat] [float] NULL,
	[poly_fat] [float] NULL,
	[cholesterol] [float] NULL,
	[calcium] [float] NULL,
	[phosphorous] [float] NULL,
	[magnesium] [float] NULL,
	[potassium] [float] NULL,
	[alcohol] [float] NULL,
	[a_sample_food_code] [float] NULL,
	[albumin_urine_mu_g] [float] NULL,
	[albumin_urine_mg] [float] NULL,
	[creatinine_mu_mol] [float] NULL,
	[creatinine_mg] [float] NULL,
	[received_dialysis_in_12_months] [float] NULL,
	[kidney_stones] [float] NULL,
	[passed_kidney_stones_12_months] [float] NULL,
	[urinary_leakage_frequency] [float] NULL,
	[urine_lose_each_time] [float] NULL,
	[leak_during_activities] [float] NULL,
	[how_frequent_leak_occurs] [nvarchar](255) NULL,
	[urinated_before_reaching_toilet] [float] NULL,
	[how_frequent] [float] NULL,
	[leak_during_nonphysical_activities] [float] NULL,
	[how_frequest_leak_nonphysical] [nvarchar](255) NULL,
	[how_much_leak_bothering] [float] NULL,
	[how_much_daily_activities_affected] [float] NULL,
	[count_night_time_urinate] [nvarchar](255) NULL
) ON [PRIMARY]
GO
