USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[multi-day-dietary-interview-individual-foods]    Script Date: 2019-07-03 8:53:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[multi-day-dietary-interview-individual-foods](
	[SEQN - Respondent sequence number] [float] NULL,
	[WTDRD1 - Dietary day one sample weight] [float] NULL,
	[WTDR2D - Dietary two-day sample weight] [float] NULL,
	[DR1ILINE - Food/Individual component number] [float] NULL,
	[DR1DRSTZ - Dietary recall status] [float] NULL,
	[DR1EXMER - Interviewer ID code] [float] NULL,
	[DRABF - Breast-fed infant (either day)] [float] NULL,
	[DRDINT - Number of days of intake] [float] NULL,
	[DR1DBIH - # of days b/w intake and HH interview] [float] NULL,
	[DR1DAY - Intake day of the week] [float] NULL,
	[DR1LANG - Language respondent used mostly] [float] NULL,
	[DR1CCMNM - Combination food number] [float] NULL,
	[DR1CCMTX - Combination food type] [float] NULL,
	[DR1_020 - Time of eating occasion (HH:MM)] [float] NULL,
	[DR1_030Z - Name of eating occasion] [float] NULL,
	[DR1FS - Source of food] [float] NULL,
	[DR1_040Z - Did you eat this meal at home?] [float] NULL,
	[DR1IFDCD - USDA food code] [float] NULL,
	[DR1IGRMS - Grams] [float] NULL,
	[DR1IKCAL - Energy (kcal)] [float] NULL,
	[DR1IPROT - Protein (gm)] [float] NULL,
	[DR1ICARB - Carbohydrate (gm)] [float] NULL,
	[DR1ISUGR - Total sugars (gm)] [float] NULL,
	[DR1IFIBE - Dietary fiber (gm)] [float] NULL,
	[DR1ITFAT - Total fat (gm)] [float] NULL,
	[DR1ISFAT - Total saturated fatty acids (gm)] [float] NULL,
	[DR1IMFAT - Total monounsaturated fatty acids (gm)] [float] NULL,
	[DR1IPFAT - Total polyunsaturated fatty acids (gm)] [float] NULL,
	[DR1ICHOL - Cholesterol (mg)] [float] NULL,
	[DR1IATOC - Vitamin E as alpha-tocopherol (mg)] [float] NULL,
	[DR1IATOA - Added alpha-tocopherol (Vitamin E) (mg)] [float] NULL,
	[DR1IRET - Retinol (mcg)] [float] NULL,
	[DR1IVARA - Vitamin A, RAE (mcg)] [float] NULL,
	[DR1IACAR - Alpha-carotene (mcg)] [float] NULL,
	[DR1IBCAR - Beta-carotene (mcg)] [float] NULL,
	[DR1ICRYP - Beta-cryptoxanthin (mcg)] [float] NULL,
	[DR1ILYCO - Lycopene (mcg)] [float] NULL,
	[DR1ILZ - Lutein + zeaxanthin (mcg)] [float] NULL,
	[DR1IVB1 - Thiamin (Vitamin B1) (mg)] [float] NULL,
	[DR1IVB2 - Riboflavin (Vitamin B2) (mg)] [float] NULL,
	[DR1INIAC - Niacin (mg)] [float] NULL,
	[DR1IVB6 - Vitamin B6 (mg)] [float] NULL,
	[DR1IFOLA - Total folate (mcg)] [float] NULL,
	[DR1IFA - Folic acid (mcg)] [float] NULL,
	[DR1IFF - Food folate (mcg)] [float] NULL,
	[DR1IFDFE - Folate, DFE (mcg)] [float] NULL,
	[DR1ICHL - Total choline (mg)] [float] NULL,
	[DR1IVB12 - Vitamin B12 (mcg)] [float] NULL,
	[DR1IB12A - Added vitamin B12 (mcg)] [float] NULL,
	[DR1IVC - Vitamin C (mg)] [float] NULL,
	[DR1IVD - Vitamin D (D2 + D3) (mcg)] [float] NULL,
	[DR1IVK - Vitamin K (mcg)] [float] NULL,
	[DR1ICALC - Calcium (mg)] [float] NULL,
	[DR1IPHOS - Phosphorus (mg)] [float] NULL,
	[DR1IMAGN - Magnesium (mg)] [float] NULL,
	[DR1IIRON - Iron (mg)] [float] NULL,
	[DR1IZINC - Zinc (mg)] [float] NULL,
	[DR1ICOPP - Copper (mg)] [float] NULL,
	[DR1ISODI - Sodium (mg)] [float] NULL,
	[DR1IPOTA - Potassium (mg)] [float] NULL,
	[DR1ISELE - Selenium (mcg)] [float] NULL,
	[DR1ICAFF - Caffeine (mg)] [float] NULL,
	[DR1ITHEO - Theobromine (mg)] [float] NULL,
	[DR1IALCO - Alcohol (gm)] [float] NULL,
	[DR1IMOIS - Moisture (gm)] [float] NULL,
	[DR1IS040 - SFA 4:0 (Butanoic) (gm)] [float] NULL,
	[DR1IS060 - SFA 6:0 (Hexanoic) (gm)] [float] NULL,
	[DR1IS080 - SFA 8:0 (Octanoic) (gm)] [float] NULL,
	[DR1IS100 - SFA 10:0 (Decanoic) (gm)] [float] NULL,
	[DR1IS120 - SFA 12:0 (Dodecanoic) (gm)] [float] NULL,
	[DR1IS140 - SFA 14:0 (Tetradecanoic) (gm)] [float] NULL,
	[DR1IS160 - SFA 16:0 (Hexadecanoic) (gm)] [float] NULL,
	[DR1IS180 - SFA 18:0 (Octadecanoic) (gm)] [float] NULL,
	[DR1IM161 - MFA 16:1 (Hexadecenoic) (gm)] [float] NULL,
	[DR1IM181 - MFA 18:1 (Octadecenoic) (gm)] [float] NULL,
	[DR1IM201 - MFA 20:1 (Eicosenoic) (gm)] [float] NULL,
	[DR1IM221 - MFA 22:1 (Docosenoic) (gm)] [float] NULL,
	[DR1IP182 - PFA 18:2 (Octadecadienoic) (gm)] [float] NULL,
	[DR1IP183 - PFA 18:3 (Octadecatrienoic) (gm)] [float] NULL,
	[DR1IP184 - PFA 18:4 (Octadecatetraenoic) (gm)] [float] NULL,
	[DR1IP204 - PFA 20:4 (Eicosatetraenoic) (gm)] [float] NULL,
	[DR1IP205 - PFA 20:5 (Eicosapentaenoic) (gm)] [float] NULL,
	[DR1IP225 - PFA 22:5 (Docosapentaenoic) (gm)] [float] NULL,
	[DR1IP226 - PFA 22:6 (Docosahexaenoic) (gm)] [float] NULL,
	[Day] [tinyint] NULL,
	[session_period] [nvarchar](20) NULL,
	[session_start] [nvarchar](20) NULL,
	[session_end] [nvarchar](20) NULL
) ON [PRIMARY]
GO
