USE [mrp_experiment_phase_data_process]
GO
/****** Object:  Table [dbo].[temp_albumin_creatinine_and_demographics_nutrients]    Script Date: 2019-07-03 8:53:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_albumin_creatinine_and_demographics_nutrients](
	[participant_id] [float] NULL,
	[participant_age] [float] NULL,
	[acr] [float] NULL,
	[kidney_failed] [float] NULL,
	[systolic_pressure] [float] NULL,
	[diastolic_pressure] [float] NULL,
	[gender] [float] NULL,
	[avg_energy_kcal] [float] NULL,
	[avg_protein_gm] [float] NULL,
	[avg_carbohydrate_gm] [float] NULL,
	[avg_total_sugars] [float] NULL,
	[avg_dietary_fiber_gm] [float] NULL,
	[avg_total_fat_gm] [float] NULL,
	[avg_total_saturated_fatty_acids_gm] [float] NULL,
	[avg_total_monounsaturated_fatty_acids_gm] [float] NULL,
	[avg_total_polyunsaturated_fatty_acids_gm] [float] NULL,
	[avg_cholesterol_mg] [float] NULL,
	[avg_vitamin_e_as_alpha_tocopherol_mg] [float] NULL,
	[avg_added_alpha_tocopherol_vitamin_E_mg] [float] NULL,
	[retinol_mcg] [float] NULL,
	[avg_Vitamin_A_RAE_mcg] [float] NULL,
	[avg_Alpha_carotene_mcg] [float] NULL,
	[avg_beta_carotene_mcg] [float] NULL,
	[avg_beta_cryptoxanthin_mcg] [float] NULL,
	[avg_lycopene_mcg] [float] NULL,
	[avg_lutein_zeaxanthin_mcg] [float] NULL,
	[avg_thiamin_vitamin_B1_mg] [float] NULL,
	[avg_riboflavin_Vitamin_B2_mg] [float] NULL,
	[avg_Niacin_mg] [float] NULL,
	[avg_Vitamin_B6_mg] [float] NULL,
	[avg_Total_folate_mcg] [float] NULL,
	[avg_Folic_acid_mcg] [float] NULL,
	[avg_Food_folate_mcg] [float] NULL,
	[avg_Folate_DFE_mcg] [float] NULL,
	[Total_choline_mg] [float] NULL,
	[Vitamin_B12_mcg] [float] NULL,
	[avg_Added_vitamin_B12_mcg] [float] NULL,
	[avg_Vitamin_C_mg] [float] NULL,
	[avg_Vitamin_D_D2_D3_mcg] [float] NULL,
	[avg_Vitamin_K_mcg] [float] NULL,
	[avg_Calcium_mg] [float] NULL,
	[avg_Phosphorus_mg] [float] NULL,
	[avg_Magnesium_mg] [float] NULL,
	[avg_Iron_mg] [float] NULL,
	[avg_Zinc_mg] [float] NULL,
	[avg_Copper_mg] [float] NULL,
	[avg_Sodium_mg] [float] NULL,
	[avg_Potassium_mg] [float] NULL,
	[avg_Selenium_mcg] [float] NULL,
	[avg_Caffeine_mg] [float] NULL,
	[avg_Theobromine_mg] [float] NULL,
	[avg_Alcohol_gm] [float] NULL,
	[avg_Moisture_gm] [float] NULL,
	[Butanoic_gm] [float] NULL,
	[Hexanoic_gm] [float] NULL,
	[Octanoic_gm] [float] NULL,
	[Decanoic_gm] [float] NULL,
	[Dodecanoic_gm] [float] NULL,
	[Tetradecanoic_gm] [float] NULL,
	[Hexadecanoic_gm] [float] NULL,
	[Octadecanoic_gm] [float] NULL,
	[Hexadecenoic_gm] [float] NULL,
	[Octadecenoic_gm] [float] NULL,
	[Eicosenoic_gm] [float] NULL,
	[Docosenoic_gm] [float] NULL,
	[Octadecadienoic1_gm] [float] NULL,
	[Octadecatrienoic2_gm] [float] NULL,
	[Octadecatetraenoic3_gm] [float] NULL,
	[Eicosatetraenoic1_gm] [float] NULL,
	[Eicosapentaenoic2_gm] [float] NULL,
	[Docosapentaenoic1_gm] [float] NULL,
	[Docosahexaenoic2_gm] [float] NULL,
	[avg_Total_plain_water_drank_yesterday_gm] [float] NULL,
	[avg_Total_tap_water_drank_yesterday_gm] [float] NULL,
	[avg_Total_bottled_water_drank_yesterday_gm] [float] NULL,
	[albumin_urine_mu_g] [float] NULL,
	[albumin_urine_mg] [float] NULL,
	[creatinine_mu_mol] [float] NULL,
	[creatinine_mg] [float] NULL,
	[received_dialysis_in_12_months] [nvarchar](255) NULL,
	[kidney_stones] [float] NULL,
	[passed_kidney_stones_12_months] [nvarchar](255) NULL,
	[urinary_leakage_frequency] [float] NULL,
	[urine_lose_each_time] [nvarchar](255) NULL,
	[leak_during_activities] [float] NULL,
	[how_frequent_leak_occurs] [nvarchar](255) NULL,
	[urinated_before_reaching_toilet] [float] NULL,
	[how_frequent] [nvarchar](255) NULL,
	[leak_during_nonphysical_activities] [float] NULL,
	[how_frequest_leak_nonphysical] [nvarchar](255) NULL,
	[how_much_leak_bothering] [nvarchar](255) NULL,
	[how_much_daily_activities_affected] [float] NULL,
	[count_night_time_urinate] [nvarchar](255) NULL
) ON [PRIMARY]
GO
