USE [mrp_2015_2016_diet_esrd_mortality]
GO
/****** Object:  Table [dbo].[age_groups_remaining]    Script Date: 2019-07-03 11:52:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[age_groups_remaining](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[from] [smallint] NOT NULL,
	[to] [smallint] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[age_groups_remaining] ON 

INSERT [dbo].[age_groups_remaining] ([id], [from], [to]) VALUES (1, 0, 14)
INSERT [dbo].[age_groups_remaining] ([id], [from], [to]) VALUES (2, 15, 19)
INSERT [dbo].[age_groups_remaining] ([id], [from], [to]) VALUES (3, 20, 24)
SET IDENTITY_INSERT [dbo].[age_groups_remaining] OFF
